* {
    margin: 0;
    padding: 0;
}

.top-section {
    height: 20vh;
    min-height: 20vh;
}

.tab {
    display: flex;
    max-width: 10%;
    width: 120px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #efefef;
    transition: background-color 0.2s ease;
}

.tab:hover {
    background-color: #d2d2d2;
}

.tab-bar {
    max-height: 6vh;
    width: 100%;
    display: flex;
    padding-top: 2px;
}

.tab-active {
    background-color: #727272;
}

.main-bar {
    display: flex;
    min-height: 7vh;
    padding: 5px;
}

.add-tab-button {
    min-height: 6vh;
    min-width: 6vh;
    margin-left: 30px;
    background-color: transparent;
    border: none;
}

.add-tab-button:hover {
    background-color: #727272;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-button {
    min-height: 4vh;
    min-width: 4vh;
    background-color: transparent;
    border: 50px;
    padding: 10px;
}

.nav-button:hover {
    background-color: #b3b3b3;
}

.search-container {
    display: flex;
    width: 100%;
}

/* Style for the search bar input */
#search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
}

/* Style for the search button */
#search-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the search button */
#search-button:hover {
    background-color: #45a049;
}

.bookmark-bar {
    min-height: 6vh;
    background-color: black;
}
